<nav class="hidden md:flex items-center space-x-8">
  <%= link_to_unless_current "Чат", chats_path, class: "text-white/90 hover:text-white font-medium transition-colors" do %>
    <%= content_tag :span, "Чат", class: "text-white/50 font-medium cursor-default" %>
  <% end %>
  <%= link_to_unless_current "Видео", videos_path, class: "text-white/90 hover:text-white font-medium transition-colors" do %>
    <%= content_tag :span, "Видео", class: "text-white/50 font-medium cursor-default" %>
  <% end %>
  <%= link_to_unless_current "Музыка", musics_path, class: "text-white/90 hover:text-white font-medium transition-colors" do %>
    <%= content_tag :span, "Музыка", class: "text-white/50 font-medium cursor-default" %>
  <% end %>
</nav>
